  <h2>Super Hero Details</h2>
  <form name = "superHeroForm" id = "superHeroForm" [formGroup] ="profileForm" (ngSubmit)="onSubmit()">


  <div>
  <label for = "superHero._superHeroName">Super Hero Name:</label>
  <h2>{{superHero.superHeroName}}</h2>
  </div>
  <input type="text"  class="form-control" id="superHeroNameInput"  name="superHeroNameInput" formControlName="_superHeroName" [(ngModel)]="superHero._superHeroName"  ng-maxlength=40 required placeholder="Enter new value" required>
  <div>
  <label for = "superHero._firstName">First Name:</label>
  <h2>{{superHero.firstName}}</h2>
  </div>
  <input type="text"  class="form-control" id="firstNameInput"  name="firstNameInput" formControlName="_firstName" [(ngModel)]="superHero._firstName" ng-minlength="1" ng-maxlength="40" required placeholder="Enter new value" required>

  <div>
  <label for = "superHero._lastName">Last Name:</label>
  <h2>{{superHero.lastName}}</h2>
  </div>
  <input type="text"  class="form-control" id="lastNameInput"  name="lastNameInput" formControlName="_lastName" [(ngModel)]="superHero._lastName"  ng-maxlength=40 required placeholder="Enter new value" required>

   <div>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  <button type="cancel" (click)="cancel()">Cancel</button>
  </div>
</form>
