<h2>Missions</h2>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Mission Name</th>
          <th scope="col">Super Hero Name</th>
          <th scope="col">Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mission of missions">
          <td>{{ mission.missionName}}</td>
          <td>{{ mission.superHeroName }}</td>
          <td>{{ mission.isCompleted}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
