<h2>Super Heroes</h2>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Super Hero Name</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Mission Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let superHero of superHeroes" (click)="onSelect(superHero)">
          <td>{{ superHero.superHeroName }}
         </td>
          <td>{{ superHero.firstName}}</td>
          <td>{{ superHero.lastName}}</td>
          <td>{{ superHero.missionName}}</td>
          <td><div><button class="delete" (click)="details(superHero)">Edit</button>
           <button class="delete" title="delete superHero"
            (click)="deleteSuperHero(superHero)">Delete SuperHero</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
